<HTML>
<HEAD>
	<TITLE>Make a new User</TITLE>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="firebase.js"></script>
</HEAD>
<BODY>
<H1>Add a new Object</H1>

<FORM method="post" action="../insert">
	Object:<input type="text" name="object" id="object">
	Type:<input type="text" name="type"id="type"> 
	<input type="submit">
</form>
<br>
<H1>Get an object</H1>
<FORM method="post" action="../query">
	Id:<input type="text" name="Id1" id="Id1">
	<input type="submit">
</form>
<H1>Search an object by Key-Value</H1>
<FORM method="post" action="../search">
	Key:<input type="text" name="key1" id="key1">
	G/L/E:<input type="text" name="gle2" id="gle2" placeholder="= | < | > | <= | >=">
	Value:<input type="text" name="value1" id="value1">
	<br>
	Parameter:<input type="text" name="parameter1" id="parameter1">
	G/L/E:<input type="text" name="gle1" id="gle1" placeholder="= | < | > | <= | >=">
	Value of Paramter:<input type="text" name="parameterValue1" id="parameterValue1">
	<br>
	Limit:<input type="text" name="limit1" id="limit1">
	<input type="submit">
</form>
<H1> Remove Object</H1>
<form method="post" action="../remove">
Remove Object:<input type="text" name="removeId1" id="removeId1" placeholder="Id of the object to be removed"  >
<input type="submit">
</form>
<H1>Index</H1>
<form method="post" action="../indexKey">
Type:<Input type="text" name="type1" id="type1">
Index:<Input type="text" name="index1" id="index1">	
<input type="submit">
</form>
<H1>Publish to a channel</H1>
<form method="post" action="../publish">
	Object:<input type="text" name="publishObject1" id="publishObject1">
	Channel:<input type="text" name="publishChannel1" id="publishChannel1">
	<input type="submit">
</form>
<H1>Subscribe to a channel</H1>
<form method="post" action="../subscribe">
	Channel :<input type="text" name="subscribeChannel1" id="subscribeChannel1">
	Limit: <input type="text" name="subscribeLimit1" id="subscribeLimit1">
	<input type="submit">
</form>
</BODY>
</HTML>