<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Make a new User</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</script>
<script src="/firebase.js"></script>
<script>
function insert2() {
  myDataRef=new firebase();
  var object1=$("#insertObject1").val();
  var type1=$("#insertType1").val();
  myDataRef.insert(object1,type1,function(data) {
      $('#insertReturn').html(data);
      
    });
}
function query2() {
  myDataRef=new firebase();
  var queryId=$("#Id1").val();
  myDataRef.query(queryId,function(data){
    for (var i=0;i<data.length;i++){
      alert(data[i].Id);
    }
  });
  
}

function search2() {
  myDataRef=new firebase();
  var key1=$("#key1").val();
  var gle2=$("#gle2").val();
  var value1=$("#value1").val();
  var parameter1=$("#parameter1").val();
  var gle1=$("#gle1").val();
  var parameterValue1=$("#parameterValue1").val(); 
  var limit1=$("#limit1").val();
  myDataRef.search(key1,gle2,value1,parameter1,gle1,parameterValue1,limit1, function(data) {
          var array=[];
          alert(data.length);
          for (var r=0;r<data.length;r++){
            array.push((data[r].Id)+"<br>");
        }
          $('#searchReturn').html(array);
        });
}
function removeObj2() {
  myDataRef=new firebase();
  var removeId1=$("#removeId1").val();
  myDataRef.removeObj(removeId1,function(data) {
    $("#removeReturn").html(data);
  });
  
}

function indexKey2() {
  myDataRef=new firebase();
  var index1=$("#index1").val();
  var type1=$("#type1").val();
  myDataRef.indexKey(index1,type1,function(data) {
    $("#indexReturn").html(data);
  });
  
}

function publish2() {
  myDataRef=new firebase();
  var publishObject1=$("#publishObject1").val();
  var publishChannel1=$("#publishChannel1").val();
   myDataRef.publish(publishObject1,publishChannel1,function(data) {
    $("#publishReturn").html(data);
  });
}
function subscribe2() {
  myDataRef=new firebase();
  var subscribeChannel1=$("#subscribeChannel1").val();
  var subscribeLimit1=$("#subscribeLimit1").val();
  myDataRef.subscribe(subscribeChannel1,subscribeLimit1,function(data) {
     var array=[];
           for (var r=0;r<data.length;r++){
             array.push((data[r].Timestamp)+"<br>");
         }
    $("#subscribeReturn").html(array);

  });
}
</script>
</head>

<body>
  <h1>Add a new Object</h1>

  <form id="ins">
    Object:<input type="text" name="insertObject1" id="insertObject1" /> 
    Type:<input type="text" name="insertType1" id="insertType1" /> 
    <input type="button" value="insert" onclick="insert2()" />
  </form><br />
<div id="insertReturn"> </div>
  <h1>Get an object</h1>

  <form id="query">
    Id:<input type="text" name="Id1" id="Id1" /> 
    <input type="button" value="query" onclick="query2()"  />
  </form>
<div id="queryReturn"> </div>
  <h1>Search an object by Key-Value</h1>

  <form id="search">
    Key:<input type="text" name="key1" id="key1" /> 
    G/L/E:<input type="text" name="gle2" id="gle2" placeholder="= | &lt; | &gt; | &lt;= | &gt;=" /> 
    Value:<input type="text" name="value1" id="value1" /><br />
    Parameter:<input type="text" name="parameter1" id="parameter1" /> 
    G/L/E:<input type="text" name="gle1" id="gle1" placeholder="= | &lt; | &gt; | &lt;= | &gt;=" /> 
    Value of Paramter:<input type="text" name="parameterValue1" id="parameterValue1" /><br />
    Limit:<input type="text" name="limit1" id="limit1" /> 
    <input type="button" value="Search" onclick="search2()" />
  </form>
<div id="searchReturn"> </div>
  
  <h1>Remove Object</h1>

  <form id="remove">
    Remove Object:<input type="text" name="removeId1" id="removeId1" placeholder=
    "Id of the object to be removed" /> 
   <input type="button" value="Remove" onclick="removeObj2()" />
  </form>
<div id="removeReturn"> </div>
  <h1>Index</h1>

  <form id="indexKey">
    Index:<input type="text" name="index1" id="index1" /> 
    Type:<input type="text" name="type1" id="type1" /> 
     <input type="button" value="Index" onclick="indexKey2()" />
  </form>
<div id="indexReturn"> </div>
  <h1>Publish to a channel</h1>

  <form id="publish">
    Object:<input type="text" name="publishObject1" id="publishObject1" />
    Channel:<input type="text" name="publishChannel1" id="publishChannel1" />
     <input type="button" value="Publish" onclick="publish2()" />
  </form>
<div id="publishReturn"> </div>
  <h1>Subscribe to a channel</h1>
<form id="subs">
  Channel :<input type="text" name="subscribeChannel1" id="subscribeChannel1">
  Limit: <input type="text" name="subscribeLimit1" id="subscribeLimit1">
  <input type="button" value="send" id="sub1" onclick="subscribe2()">
</form>
<div id="subscribeReturn"> </div>
</body>
</html>

