<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Make a new User</title>
<script src="/jquery.js"></script>
<script src="/firebase.js"></script>
<script>
var start = new Date().getTime();
var i;
var count=3022;
function insert2() {
  myDataRef=new firebase();
  var object1='{"studentName":"Student '+count.toString()+'","fathername":"Father of Student '+count.toString()+'","paddress":"Address of Student '+ count.toString()+'","course":"B.Tech","branch":"I.T","pincode":"pin of student '+count.toString()+'","emailid":"Email of Student '+count.toString()+'","dob":"Dob of Student '+count.toString()+'","mobileno":"Mobile No. of Student '+ count.toString() +'","unique-key-IIITA":"IIIT-A Register"}';
  var type1='insert-testing';
  myDataRef.insert(object1,type1,function(data) {
 		var end = new Date().getTime();
		var time = end - start;
      	console.log(time)
     
    });
}

for (i=0;i<1000;++i) {
	insert2();
	count++;
}
// var end = new Date().getTime();
// var time = end - start;
// alert('Execution time: ' + time);
</script>
</head>
<body>
</body>
</html>