<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Make a new User</title>
<script src="/jquery.js"></script>
<script src="/firebase.js"></script>
<script>
var start = new Date().getTime();
var i;
var count=2022;
function search() {
  myDataRef=new firebase();
  var key1="studentName";
  var gle2="=";
  var value1="Student "+count.toString();
  var argumentsObj= new Object();
  argumentsObj.key1=key1;
  argumentsObj.gle2=gle2;
  argumentsObj.value1=value1;
  myDataRef.search(argumentsObj,function(data) {
      
    });
}

for (i=0;i<10000;++i) {
	search();
	count++;
  if (count>3022) {
    count=2022;
  }
}
var end = new Date().getTime();
var time = end - start;
alert('Execution time: ' + time);
</script>
</head>
<body>
</body>
</html>